.app-ofertas-tab {
    &__container {
        // padding: 1% 1% 1% 1%;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;


        &__filtros {
            height: 50px;
            display: flex;
            align-items: center;
            padding: 10px;
            display: flex;
            justify-content: space-evenly;
            color: var(--ion-color-medium-tint);

            box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
            &__division {
                border-left:1px solid var(--ion-color-light-shade);
                height:30px;
            }

            &__ascendente-descendente {

            }
        }

        &__ofertas{
            overflow-y: auto;
            &__oferta {

                padding: 0 10px;
                display: flex;
                flex-direction: row;
                width: 100%;
                gap: 20px;
                align-items: center;


                &__avatar{
                    height: 95px;
                    width: 80px;
                    background-color: var(--ion-color-light-tint);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 5px;
                }

                &__datos-oferta {
                    &__autor {
                        font-size: 15px;
                        margin-bottom: 5px;
                    }

                    &__precio {
                        margin-top: 20px;
                    }
                }
            }

        }
    }
}

